body{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

#container{
    margin: 0 ,auto;
}

.colour-block{
    border: 1px solid lightgray;
}

#showcase{
    position: relative;
	width: 30%;
	left: 300px;

    float: left;	
}

#order{
    position: relative;
    width: 30%;
    float: right;
    right: 150px;
}

h2{
    text-align: center;
}

#topPic{
	width:598px; 
	margin: 0 auto;
}

#gallery{
	padding: 10px;
	background: #c0c0c0;
}

#gallery img{
	margin-left: 40px;
	margin-bottom: 10px;
}

#others-tshirt{
    display: none;
}

.description{
    display: inline-block;
}
