$margin: 0.8rem;
$padding: 0.6rem;
$border-width: 0.1rem;
$border-radius: 0pt;
$icon-size: 1.3rem;
$gap-size: 0.2rem;
$base-font-size: 0.9rem;

$colors: (primary: #FCFCFC, secondary: #232323, accent1: rgb(104, 0, 240), accent2: #59D6BD);

@function getColor($color) {
    @return map-get($map: $colors, $key: $color);
}

@function getColorAlpha($color, $alpha) {
    @return rgba(getColor($color), $alpha);
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: getColor(primary);
    color: getColor(secondary);
    font-family: 'Nanum Gothic', sans-serif;
}

h1,
h2,
h3 {
    padding: $padding;
    font-family: 'Abril Fatface', cursive;
    text-align: right;
    border: solid $border-width / 2 getColor(primary);
    background-color: getColor(accent1);
}

h1 {
    font-size: $base-font-size * 3;
}

h2 {
    font-size: $base-font-size * 2;
}

h3 {
    font-size: $base-font-size * 1.5;
}

a {
    border: none;
    text-decoration: none;
    display: block;
    transition: 0.5s;

    &.img-nav-link {
        display: block;
        position: inherit;
        width: fit-content;
        height: fit-content;

        img {
            width: 30pt;
        }

        &:hover, &:focus{
            transform: scale(1.4);
            cursor: pointer;
        }
    }

    &:hover, &:focus {
        color: getColor(primary);
    }
}

div,
p,
a {
    font-size: $base-font-size;
}

img {
    vertical-align: middle;
}

figure {
    width: 80vw;
    height: 80vw;
    margin: $margin auto;
    box-sizing: border-box;
    background-color: getColor(accent2);
    border-radius: 50%;
    position: inherit;

    a {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
        padding: $padding * 2;
        box-sizing: border-box;

        div.product-img-container {
            width: 80%;
            height: 80%;
            box-sizing: border-box;

            img.product-image {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        div {
            display: flex;
            align-content: space-between;

            figcaption {
                height: fit-content;
                padding: $padding / 2;
                margin: $margin / 4;
                background-color: getColorAlpha(secondary, 0.8);

                &.product-price,
                &.product-title {
                    color: getColor(primary);
                    font-size: $base-font-size * 1.2;
                }
            }
        }
    }
}

header,
footer {
    width: 100%;
    background-color: getColor(accent1);
}

div.logo {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto 0;
}

nav#nav {
    width: inherit;
    padding: $padding / 2;
    box-sizing: border-box;
    display: flex;
    justify-content: stretch;

    ul.nav-links {
        display: none;
    }

    div.left-bar {
        padding: $padding $padding / 2;

        div.search {
            display: none;
        }

        a#shopping-cart-btn {
            width: 100%;
            height: 100%;
            padding: $padding;
            box-sizing: border-box;

            i {
                display: block;
                font-size: $icon-size;
            }
        }
    }
}

article.hero {
    box-sizing: border-box;
    background: getColor(primary);
    min-height: 400px;
    position: relative;
    padding: $padding;
}

main {
    width: inherit;
    height: fit-content;

    section#merch-section {
        width: inherit;
        height: inherit;
        position: relative;
    }
}

aside {
    display: none;
}

section#content.content {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));

    section.product-card {
        box-sizing: border-box;
        position: relative;
    }
}

footer {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    flex-flow: column;
    padding: $padding;

    div.logo {
        position: relative;
        width: fit-content;
        margin: $margin auto;
    }

    section#footer-links {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: $padding / 2;
    }

    section#social-media {
        width: 50%;
        margin: 0 auto;
        min-width: 100px;
        display: flex;
        justify-content: space-evenly;

        div {
            margin: $margin;

            a {
                font-size: $base-font-size * 2;

                span {
                    display: none;
                }
            }
        }
    }

    p.footer-description {
        margin: 0 $margin;
        text-align: center;
    }
}

.hero-title{
    width: 100%;
    padding: 0;
    background: none;
    border: none;
    box-sizing: border-box;
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    margin: 0;
}

.links {
    margin-left: $margin;
    display: none;

    li {
        margin: $margin / 2 0;
    }
}

.section-btn {
    position: relative;
    height: fit-content;
    margin: 0; padding: 0; 

    &:before {
        content: "+";
        position: absolute;
        top: 50%;
        left: 12pt;
        transform: translateY(-50%);
        font-size: $base-font-size * 1.2;
    }

    h3 {
        margin: 0;
        box-sizing: border-box;
        text-align: right;
        border-color: getColor(accent1);
    }

    &:hover, &:focus {
        cursor: pointer;

        h3{
            border-color: getColor(secondary);
        }
    }
}

.links {
    padding: $padding / 2;

    li {
        text-decoration: underline;
    }
}

.my-slides {
    display: none;
}


/* Slideshow container */
.slideshow-container {
    min-height: 400px;
    position: relative;
    display: inherit;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.hero-img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    min-height: 400px;
    max-height: 800px;
    height: 40%;
    filter: grayscale(50%) brightness(80%);
    z-index: auto;
}

.hero-title,
.hero-description {
    color: getColor(primary);
    position: absolute;
}

.hero-title {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    box-sizing: border-box;
    padding: $padding;
}

.hero-description {
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: $padding;
    box-sizing: border-box;
    font-size: $base-font-size * 1.2;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 400px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}

@media (min-width: 600px) {
    section#merch-section {
        width: inherit;
        height: fit-content;
    }

    aside.aside {
        width: 100%; height: fit-content;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        margin: $margin / 2;
        padding: $padding / 4;
        border: $border-width solid getColor(accent2);
        height: fit-content;

        section.sidebar {
            height: fit-content;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            padding: $padding / 2;

            a {
                font-size: 1.1em;

                h3{
                    background: none;
                    border: none;
                }

                &:hover, &:focus{
                    h3{
                        background: getColor(accent2);
                    }
                }
            }
        }
    }

    section#content.content {
        width: 100%;
        height: fit-content;
        box-sizing: border-box;
    
        section.product-card {
            width: inherit;
            height: inherit;
    
            box-sizing: border-box;
            position: relative;
        }
    }

    figure {
        width: 40vw;
        height: 40vw;

        figcaption {
    
            &.product-price,
            &.product-title {
                color: getColor(primary);
                font-size: $base-font-size * 1.2;
            }
        }
    }
}

@media (min-width: 1024px) {
    section#merch-section {
        width: inherit;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    aside.aside {
        width: inherit;
        height: fit-content;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        margin: $margin / 2;
        padding: $padding / 4;
        border: $border-width solid getColor(accent2);

        section.sidebar {
            height: fit-content;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            padding: $padding / 2;

            a {
                font-size: 1.1em;

                h3{
                    background: none;
                    border: none;
                }

                &:hover, &:focus{
                    h3{
                        background: getColor(accent2);
                    }
                }
            }
        }
    }

    section#content.content {
        width: 100%;
        height: fit-content;
        box-sizing: border-box;
        padding: $padding;
        padding-top: -$padding;
        margin-top: -$margin;
    
        section.product-card {
            width: inherit;
            height: inherit;
    
            box-sizing: border-box;
            position: relative;
        }
    }

    figure {
        width: 30vw;
        height: 30vw;

        figcaption {
    
            &.product-price,
            &.product-title {
                color: getColor(primary);
                font-size: $base-font-size * 1.2;
            }
        }
    }
}

@media(min-width: 1500px){
    figure {
        width: 20vw;
        height: 20vw;
    }
}