@import url("https://fonts.googleapis.com/css?family=Open+Sans|Rubik");
html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #FCFCFC;
  position: relative;                   font-family: 'Abril Fatface', cursive;
}
.alt-type{
    font-family: 'Nanum Gothic', sans-serif;
}

html,
body,
button,
a {
  color: #232323;
}

a {
  text-decoration: none;
  display: block;
}

h1,
h2,
h3 {

}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.35rem;
}

div,
p,
a {
  font-size: 0.9rem;
}

img {
  vertical-align: middle;
}

button {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.3rem 0.6rem;
  margin: 0;
  background-color: #6800f0;
  border: 0.1rem solid #6800f0;
  text-align: left;
}

header,
footer {
  width: 100%;
  background-color: #6800f0;
}

header div.logo,
footer div.logo {
  width: 100%;
  height: 100%;
  position: relative;
}

header div.logo a.img-nav-link,
footer div.logo a.img-nav-link {
  display: block;
  position: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header div.logo a.img-nav-link img,
footer div.logo a.img-nav-link img {
  width: 40pt;
}

header nav#nav {
  width: inherit;
  padding: 0.6rem;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

header nav#nav ul.nav-links {
  display: none;
}

header nav#nav div.left-bar {
  padding: 0.6rem 0.3rem;
}

header nav#nav div.left-bar div.search {
  display: none;
}

header nav#nav div.left-bar button#shopping-cart-btn {
  width: 100%;
  height: 100%;
}

header nav#nav div.left-bar button#shopping-cart-btn i {
  font-size: 1.3rem;
}

header article.hero {
  background: #FCFCFC;
  min-height: 300px;
  position: relative;
  padding: 0.6rem;
}

main {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main aside.aside {
  display: none;
}

main section#content.content {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2.4rem;
  padding-top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400pt, 2fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400pt, 2fr));
}

main section#content.content figure.product-card {
  margin: 0.8rem;
  position: relative;
  background-color: #59D6BD;
}

main section#content.content figure.product-card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 1.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main section#content.content figure.product-card a div.product-img-container {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main section#content.content figure.product-card a div.product-img-container img.product-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main section#content.content figure.product-card a div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section#content.content figure.product-card a div figcaption {
  padding: 0.3rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0.6rem;
}

footer div.logo {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.8rem auto;
}

footer section#footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3rem;
}

footer section#social-media {
  width: 50%;
  margin: 0.8rem auto;
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer section#social-media div p {
  font-size: 1.8rem;
}

footer section#social-media div p span {
  display: none;
}

footer p.footer-description {
  margin: 0 0.8rem;
  text-align: center;
}

.links {
  margin-left: 0.8rem;
  display: none;
}

.links li {
  margin: 0.4rem 0;
}

.section-btn {
  border: solid 0.1rem #6800f0;
  position: relative;
}

.section-btn:before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 12pt;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.08rem;
}

.section-btn h3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
}

.links {
  padding: 0.3rem;
}

.links li {
  text-decoration: underline;
}

.my-slides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  display: inherit;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.hero-bg {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #232323;
}

.hero-img {
  z-index: auto;
}

.hero-title,
.hero-description {
  color: #FCFCFC;
  position: absolute;
}

.hero-title {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.6rem;
}

.hero-description {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  padding: 0.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

@media (min-width: 720px) {
  header nav#nav {
    width: inherit;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  header nav#nav ul.nav-links {
    position: relative;
    width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav#nav ul.nav-links li {
    margin: auto 0;
  }
  header nav#nav ul.nav-links li a.nav-link {
    padding: 1.2rem;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header nav#nav div.left-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -ms-flex-item-align: center;
        align-self: center;
    position: relative;
  }
  header nav#nav div.left-bar div.search {
    height: 100%;
    -ms-flex-item-align: center;
        align-self: center;
    min-width: 80px;
    min-height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header nav#nav div.left-bar div.search input#search-bar {
    padding: 0.3rem;
    margin: 0 0.2rem;
  }
  header nav#nav div.left-bar button#shopping-cart-btn {
    margin: 0 0.8rem;
  }
  header article.hero {
    background: #FCFCFC;
    min-height: 300px;
    position: relative;
  }
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  main aside.aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0.4rem;
    padding: 0.15rem;
    border: 0.1rem solid #59D6BD;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  main aside.aside section.sidebar {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.6rem;
  }
  main aside.aside section.sidebar button {
    font-size: 1.1em;
    padding: 0.6rem 1.2rem;
  }
  main section#content.content {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 2.4rem;
    padding-top: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(400pt, 2fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(400pt, 2fr));
  }
  main section#content.content figure.product-card {
    margin: 0.8rem;
    position: relative;
    background-color: #59D6BD;
  }
  main section#content.content figure.product-card a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    padding: 1.2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  main section#content.content figure.product-card a div.product-img-container {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  main section#content.content figure.product-card a div.product-img-container img.product-image {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  main section#content.content figure.product-card a div {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main section#content.content figure.product-card a div figcaption {
    padding: 0.3rem;
  }
  main section#content.content {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}
/*# sourceMappingURL=main.css.map */