html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #FCFCFC;
  color: #232323;
  font-family: 'Nanum Gothic', sans-serif;
}

h1,
h2,
h3 {
  padding: 0.6rem;
  font-family: 'Abril Fatface', cursive;
  text-align: right;
  border: solid 0.05rem #FCFCFC;
  background-color: #6800f0;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.35rem;
}

a {
  border: none;
  text-decoration: none;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.img-nav-link {
  display: block;
  position: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

a.img-nav-link img {
  width: 30pt;
}

a.img-nav-link:hover, a.img-nav-link:focus {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  cursor: pointer;
}

a:hover, a:focus {
  color: #FCFCFC;
}

div,
p,
a {
  font-size: 0.9rem;
}

img {
  vertical-align: middle;
}

figure {
  width: 80vw;
  height: 80vw;
  margin: 0.8rem auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #59D6BD;
  border-radius: 50%;
  position: inherit;
}

figure a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 1.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

figure a div.product-img-container {
  width: 80%;
  height: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

figure a div.product-img-container img.product-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

figure a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

figure a div figcaption {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.3rem;
  margin: 0.2rem;
  background-color: rgba(35, 35, 35, 0.8);
}

figure a div figcaption.product-price, figure a div figcaption.product-title {
  color: #FCFCFC;
  font-size: 1.08rem;
}

header,
footer {
  width: 100%;
  background-color: #6800f0;
}

div.logo {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto 0;
}

nav#nav {
  width: inherit;
  padding: 0.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

nav#nav ul.nav-links {
  display: none;
}

nav#nav div.left-bar {
  padding: 0.6rem 0.3rem;
}

nav#nav div.left-bar div.search {
  display: none;
}

nav#nav div.left-bar a#shopping-cart-btn {
  width: 100%;
  height: 100%;
  padding: 0.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav#nav div.left-bar a#shopping-cart-btn i {
  display: block;
  font-size: 1.3rem;
}

article.hero {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FCFCFC;
  min-height: 400px;
  position: relative;
  padding: 0.6rem;
}

main {
  width: inherit;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main section#merch-section {
  width: inherit;
  height: inherit;
  position: relative;
}

aside {
  display: none;
}

section#content.content {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(22rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}

section#content.content section.product-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0.6rem;
}

footer div.logo {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.8rem auto;
}

footer section#footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3rem;
}

footer section#social-media {
  width: 50%;
  margin: 0 auto;
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer section#social-media div {
  margin: 0.8rem;
}

footer section#social-media div a {
  font-size: 1.8rem;
}

footer section#social-media div a span {
  display: none;
}

footer p.footer-description {
  margin: 0 0.8rem;
  text-align: center;
}

.hero-title {
  width: 100%;
  padding: 0;
  background: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  margin: 0;
}

.links {
  margin-left: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.links li {
  margin: 0.4rem 0;
  list-style: none;
}

.links li a:hover, .links li a:focus {
  background-color: #6800f0;
  padding: 0.6rem;
}

.section-btn {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.section-btn:before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 12pt;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.08rem;
}

.section-btn h3 {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
  border-color: #6800f0;
}

.section-btn:hover, .section-btn:focus {
  cursor: pointer;
}

.section-btn:hover h3, .section-btn:focus h3 {
  border-color: #232323;
}

.links {
  padding: 0.3rem;
}

.links li {
  text-decoration: underline;
}

.my-slides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  min-height: 400px;
  position: relative;
  display: inherit;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.hero-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  min-height: 400px;
  max-height: 800px;
  height: 40%;
  -webkit-filter: grayscale(50%) brightness(80%);
          filter: grayscale(50%) brightness(80%);
  z-index: auto;
}

.hero-title,
.hero-description {
  color: #FCFCFC;
  position: absolute;
}

.hero-title {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.6rem;
}

.hero-description {
  width: 100%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.08rem;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 400px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

@media (min-width: 600px) {
  section#merch-section {
    width: inherit;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  aside.aside {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0.4rem;
    padding: 0.15rem;
    border: 0.1rem solid #59D6BD;
    height: fit-content;
  }
  aside.aside section.sidebar {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.3rem;
  }
  aside.aside section.sidebar a {
    font-size: 1.1em;
  }
  aside.aside section.sidebar a h3 {
    background: none;
    border: none;
  }
  aside.aside section.sidebar a:hover h3, aside.aside section.sidebar a:focus h3 {
    background: #59D6BD;
  }
  section#content.content {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  section#content.content section.product-card {
    width: inherit;
    height: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
  }
  figure {
    width: 40vw;
    height: 40vw;
  }
  figure figcaption.product-price, figure figcaption.product-title {
    color: #FCFCFC;
    font-size: 1.08rem;
  }
}

@media (min-width: 1024px) {
  section#merch-section {
    width: inherit;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  aside.aside {
    width: inherit;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0.4rem;
    padding: 0.15rem;
    border: 0.1rem solid #59D6BD;
  }
  aside.aside section.sidebar {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.3rem;
  }
  aside.aside section.sidebar a {
    font-size: 1.1em;
  }
  aside.aside section.sidebar a h3 {
    background: none;
    border: none;
  }
  aside.aside section.sidebar a:hover h3, aside.aside section.sidebar a:focus h3 {
    background: #59D6BD;
  }
  section#content.content {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0.6rem;
    padding-top: -0.6rem;
    margin-top: -0.8rem;
  }
  section#content.content section.product-card {
    width: inherit;
    height: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
  }
  figure {
    width: 30vw;
    height: 30vw;
  }
  figure figcaption.product-price, figure figcaption.product-title {
    color: #FCFCFC;
    font-size: 1.08rem;
  }
}

@media (min-width: 1500px) {
  figure {
    width: 20vw;
    height: 20vw;
  }
}
/*# sourceMappingURL=main.css.map */